<h1>Listing Initiatives</h1>

<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "initiative"} %>
<% end %>

<% if current_user.admin %>
	<% content_for :sidebar do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'New-Initiative', new_initiative_path %></td>
		<tr>
		<td class="danger"><%= link_to 'Show-All', initiatives_path %></td>
	</table>
	<% end %>
<% end %>

<% content_for :main1 do %>
	<% if !@initiatives.nil? then %>
		<div class="row">
			<div class="col-md-12">
			<table class="table">
			  <tr>
				<th class="col-sm-3">Name</th>
				<th class="col-sm-3">Description</th>
				<th>Fiscal Year</th>
				<th>Current Week Effort</th>
				<th>YTD Person Weeks</th>
				<th>YTD Effective HC</th>
				<% if current_user.admin %>
					<th>Status</th>
					<th></th>
				<% end %>
			  </tr>  
			<% @initiatives.where(:active => true).each do |initiative|  %>
			  <tr>
				<td class="link"><u><%= link_to initiative.name, initiative %></u></td>
				<td><%= initiative.description %></td>
				<td><%= initiative.fiscal %></td>
				<td><%= initiative.current_effort_weeks(current_period) %></td>
				<td><%= initiative.total_effort_weeks.round %></td>
				<td><%= (initiative.total_effort_weeks/current_week()).round %></td>
				<% if current_user.admin %>
					<td><%= if current_user.admin then if initiative.active then "Active" else "Closed" end end %></td>
					<td class="danger"><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
				<% end %>
			  </tr>  
			<% end %>
	

			</table>
			</div>
		</div>
	<% else "NO INITIATIVES DEFINED" %>
	<% end %>
<% end %>	
