<h1>Listing Themes</h1>

<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "initiative"} %>
<% end %>

<% content_for :sidebarwide do %>
<table class="table">
	<% if current_user.admin %>
		<tr>
		<td class="danger"><%= link_to 'New-Theme', new_initiative_path %></td>
		<tr>
		<td class="danger"><%= link_to 'Show-All', initiatives_path(:fy => "all") %></td>
	<% end %>
	<tr>
	<td class="danger">
		<label for="f_year">Fiscal Year:</label>
		<%= select_tag "f_year", options_for_select(fy_list(), @fy.to_s) %>
	</td>
</table>

<h5><%= "Effective HC: " + (@sumEffort/current_week()).round.to_s %></h5>
<% end %>

<% content_for :main1 do %>
<div class="row">
	<div class="col-md-12 col-centered">
		<h5><b><%= @summary + current_user.org %></b></h5>
	</div>
</div>
<div class="row">
  <div class="col-md-12 col-centered">
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'Current Effort', 
		:labels => @clabels, :data => @wvals, :size => '400x200', :chart_background => 'CCCCCC',
		:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
		</br>
		<p><%= if @showVals then 'Data:  ' + @cdata.to_s end %></p>
	</div>
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'YTD Effort', 
		:labels => @clabels, :data => @cvals, :size => '400x200', :chart_background => 'CCCCCC',
		:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
		</br>
		<p><%= if @showVals then 'Data:  ' + @cdata.to_s end %></p>
	</div>
  </div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-centered">
	<% if !@initiatives.nil? then %>
		<div class="row">
			<div class="col-md-12">
			<table class="table">
			  <thead>
			  <tr>
			  	<th></th>
				<th class="col-sm-3">Name</th>
				<th class="col-sm-3">Description</th>
				<th>Fiscal Year</th>
				<th>Current Week Effort</th>
				<th><%= if @fy == current_fy then "YTD Person Weeks" else "FY Person Weeks" end %></th>
				<th><%= if @fy == current_fy then "YTD Effective HC" else "FY Effective HC" end %></th>
				<% if current_user.admin %>
					<th>Status</th>
				<% end %>
			  </tr>  
			  </thead>
			  <tbody>
			<% @initiatives.where(:active => true).each do |initiative|  %>
			  <%= tag("tr", class: ['warning', 'collapsed'], data: {toggle: 'collapse', target: ".group" + initiative.id.to_s}) %>
				<td class="icon-class"></td>
				<td class="link"><u><b><%= link_to initiative.name, initiative %></b></u></td>
				<td><%= initiative.description %></td>
				<td><%= initiative.fiscal %></td>
				<td><%= initiative.current_effort_weeks(current_period) %></td>
				<td><%= initiative.total_effort_weeks(current_week()).round %></td>
				<td><%= (initiative.total_effort_weeks(current_week())/current_week()).round %></td>
				<% if current_user.admin %>
					<td><%= if initiative.active then "Active" else "Closed" end %></td>
				<% end %>
			  </tr> 
			  <% initiative.projects.each do |p| %>
			  	<% if p.keyproj %>
			  		<tr>
			  	<% else %>
			  		<%= tag("tr", class: ['collapse', 'group' + initiative.id.to_s]) %>			
			  	<% end %>
			  		<td></td>
			  		<td class="link" style="text-align: right"><u><%= link_to p.name, p %></u></td>
			  		<td><%= p.description %></td>
			  		<td></td>
			  		<td><%= current_allocation(p,1) %></td>
			  		<td><%= ytd_allocation(p,1) %></td>
			  		<td></td>
			  		<% if current_user.admin %>
						<td><%= if p.active then "Active" else "Closed" end %></td>
					<% end %>
			  	</tr>
			  <% end %> 
			<% end %>
	
			</tbody>
			</table>
			</div>
		</div>
	<% else "NO Themes DEFINED YET" %>
	<% end %>
	</div>
</div>
<% end %>	
