<h1>Listing Initiatives</h1>

<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "initiative"} %>
<% end %>

<% if current_user.admin %>
	<% content_for :sidebar do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'New-Initiative', new_initiative_path %></td>
		<tr>
		<td class="danger"><%= link_to 'Show-All', initiatives_path %></td>
	</table>
	<% end %>
<% end %>

<% content_for :main1 do %>

<div class="row">
  <div class="col-md-12 col-centered">
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'Current Effort', 
		:labels => @clabels, :data => @wvals, :size => '400x200', :chart_background => 'CCCCCC',
		:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
		</br>
		<p><%= if @showVals then 'Data:  ' + @cdata.to_s end %></p>
	</div>
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'YTD Effort', 
		:labels => @clabels, :data => @cvals, :size => '400x200', :chart_background => 'CCCCCC',
		:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
		</br>
		<p><%= if @showVals then 'Data:  ' + @cdata.to_s end %></p>
	</div>
  </div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-centered">
	<% if !@initiatives.nil? then %>
		<div class="row">
			<div class="col-md-12">
			<table class="table">
			  <tr>
				<th class="col-sm-3">Name</th>
				<th class="col-sm-3">Description</th>
				<th>Fiscal Year</th>
				<th>Current Week Effort</th>
				<th>YTD Person Weeks</th>
				<th>YTD Effective HC</th>
				<% if current_user.admin %>
					<th>Status</th>
					<th></th>
				<% end %>
			  </tr>  
			<% @initiatives.where(:active => true).each do |initiative|  %>
			  <tr>
				<td class="link"><u><%= link_to initiative.name, initiative %></u></td>
				<td><%= initiative.description %></td>
				<td><%= initiative.fiscal %></td>
				<td><%= initiative.current_effort_weeks(current_period) %></td>
				<td><%= initiative.total_effort_weeks.round %></td>
				<td><%= (initiative.total_effort_weeks/current_week()).round %></td>
				<% if current_user.admin %>
					<td><%= if initiative.active then "Active" else "Closed" end %></td>
					<td class="danger"><%= link_to 'Edit', edit_initiative_path(initiative) %></td>
				<% end %>
			  </tr> 
			  <% initiative.projects.keyproj.each do |p| %>
			  	<tr>
			  		<td class="link" style="text-align: right"><u><%= link_to p.name, p %></u></td>
			  		<td><%= p.description %></td>
			  		<td></td>
			  		<td><%= current_allocation(p,1) %></td>
			  		<td><%= ytd_allocation(p,1) %></td>
			  		<td></td>
			  		<% if current_user.admin %>
						<td><%= if p.active then "Active" else "Closed" end %></td>
						<td></td>
					<% end %>
			  	</tr>
			  <% end %> 
			<% end %>
	

			</table>
			</div>
		</div>
	<% else "NO INITIATIVES DEFINED YET" %>
	<% end %>
	</div>
</div>
<% end %>	
