<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "initiatives"} %>
<% end %>


<% content_for :sidebar do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'Edit', edit_initiative_path(@initiative) %></td> 

	<tr>
		
			<td class="danger"><%= link_to 'Back', initiatives_path %></td>

	</table>
<% end %> 

<% content_for :main1 do %>
<div class="row">
	<div class="col-md-12 col-centered">
		<div class="col-md-3">
			<p><b>Name: </b><%= @initiative.name %></p>
			<p><b>Abreviation: </b><%= @initiative.tag %></p>
			<p><b>Fiscal Year: </b><%= @initiative.fiscal %></p>
			<p><b>Description: </b><%= @initiative.description %></p>
			<p><b>Supported CT Priorities: </b><%= if !@initiative.subprilist.nil? then 
					@initiative.subprilist.map(&:inspect).join(', ') else "None Defined" end %></p>
			<p><b>Active: </b><%= @initiative.active %></p>
			<p><b>Average Weekly HC:  </b><%= (@initiative.total_effort_weeks(current_week())/current_week()).round %></p>
		</div>
		<div class="col-md-6">
			<%= image_tag(Gchart.bar(:title => "Effort History", 
			:labels => @clabels, :data => @cvalues, :chart_background => 'CCCCCC', :max_value => 25, 
			:min_value => 0, :stacked => false, :size => '550x225', :axis_with_labels => [['x'], ['y']],
			:bar_width_and_spacing => ['40','4'], :bar_colors => "3DB1FF,0061D7,FF148A,FF8A14", 
			:axis_range => [[nil], [25], [25], nil] ), class: "img-responsive")%>
		</div>
		<div class="col-md-3">
			<%= image_tag(Gchart.pie(:title => "Current Initiative Effort", 
			:data => @svalues, :chart_background => 'CCCCCC', :size => '300x300',
			:legend => @slabels, :legend_position => 'bottom', :slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"), 
			class: "img-responsive")%>
		</div>
	</div>
</div>	
<div class="row">
	<div class="col-md-12 col-centered">	
		<h3>Initiatives List</h3>

		<% if @projects.count == 0 %>
			<h4>No Initiatives for this Theme</h4>
	
		<% else %>
			<table class="table">
			  <tr>
				<th>Name</th>
				<th>UPL-Id</th>
				<th>Category</th>
				<th>Delivery Lead</th>
				<th>Description</th>
				<th>Current Week Effort</th>
				<th>YTD Total Effort</th>
				<th>FTE Equivalents</th>
				<% if current_user.admin %>
					<th>Status</th>
					<th>Key Initiative<th>
				<% end %>
			  </tr>
			<% @projects.each do |project|  %>
			  <tr>
				<td class="link"><u><%= link_to project.name, project %></u></td>
				<td><%= project.upl_number %></td>
				<td><%= project.category %></td>
				<td><%= project.owner.name %></td>
				<td><%= project.description %></td>
				<td><%= current_allocation(project, 1) %></td>
				<td><%= ytd_allocation(project, 1) + " Weeks" %></td>
				<td><%= (ytd_allocation(project, 1).to_d/current_week()).round(1) %></td>
				<% if current_user.admin %>
					<td><%= if current_user.admin then if project.active then "Active" else "Closed" end end %></td>
					<td><%= if project.keyproj then "X" end %></td>
				<% end %>
			  </tr>  
			<% end %>
		<% end %>
	</div>
</div>
<% end %>