<%= simple_form_for(@assignment) do |f| %>
  <%= f.error_notification %>
  	<div class="form-group">
		<%= if @assignment.user then link_to "Resource: " + @assignment.user.name, user_path(@assignment.user) end %>
		<row>
		<div class="col-md-3">
			<label for="inputWeek">Week Starting On:</label>
			<%= f.text_field :set_period_id, 'data-behaviour' => 'datepicker', 
				:value => if @assignment.effort.nil? then period_to_date(current_period()).to_s else 
					period_to_date(@assignment.set_period_id).to_s end, :type => 'text', :class => 'form-control', 
					:id => 'inputWeek' %>
			<br/>
			<%= if !@assignment.user then f.association :user, collection: all_subs(@manager, false, false, false), :as => :select, 
				:html => {:type => 'select', :class => "form-control", :id => "pickUser"} 
				else f.hidden_field :user_id, :value => @assignment.user.id, :html => {:type => "text", 
					:class => "form-control", :id => "pickUser"} end %>
			
			<br>
			<% if action_name == "new" then %>
				<div class="panel pull-right">
					<%= f.label "OPTIONAL NEW USER ENTRY" %>
					<br/>
					<%=	fields_for "newuser[]" do |user_fields| %> 
						Name: <%= user_fields.text_field :name %>
						<div class="control-group select optional user_type">
							<label class="select optional control-label" for="user_type">Employee Type:</label>
							<div class="controls">
								<%= user_fields.select(:etype, options_for_select(get_picklist("u_cust_1",nil)))  %>
							</div>
						</div>
						<div class="control-group select optional user_category">
							<label class="select optional control-label" for="user_category">Employee Category:</label>
							<div class="controls">
								<%= user_fields.select(:category, [['R&D'],['Program-Product'],['Operations'],['Overhead']]  %>
							</div>
						</div>
					<% end %> 
				</div>
			<% end %>
			<br/>
			<br/>
		</div>
		</row>
		<row>
		<div class ='col-md-3'>	
			<%= f.input :effort, :autofocus => true %>
			<%= f.association :tech_system, :as => :select, :collection => TechSystem.by_name, :required => true %>
			<%= f.association :project, :as => :select, :collection => Project.active.by_name, :required => true %>
			<br/>
			<div class="form-actions">
				<%= f.button :submit %>
			</div>
		</div>
		</row>
	</div>
<% end %>
