<%= simple_form_for(@assignment) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= if @assignment.user then link_to "Resource: " + @assignment.user.name, user_path(@assignment.user) end %>
    <br/>
    <br/>
    <%= if @showFixedCbox then f.input :is_fixed end %>
    <%= f.label "Period:" %>
    <%= f.hidden_field :set_period_id, :value => current_period() %>
    <br/>
    <br/>
    <%= f.input :effort %>
    <%= if !@assignment.user then f.association :user, collection: all_subs(@manager), :as => :select else f.hidden_field :user_id, :value => @assignment.user.id end %>
    <%= f.association :project, :as => :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
