<h1>Listing assignments</h1>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "assignments"} %>
<% end %>

<% content_for :sidebarwide do %>
<table class="table">
	<td class="danger">
		<label for="t_week">Target Week:</label>
		<%= select_tag "t_week", options_for_select(w_list(), @wk) %>
	</td>
</table>

<% end %>

<% content_for :main1 do %>
<table class="table">
  <tr>
    <th>Project</th>
    <th>System</th>
    <th>User</th>
    <th>Week of</th>
    <th>Effort</th>
    <th>Is fixed</th>
    <th>Fiscal year</th>
    <th></th>
    <th></th>
  </tr>

<% if @manager.admin then %>
<% @assignments.each do |a| %>
  <tr>
    <td><%= if a.project then link_to a.project.name, a, {:style => "color:blue;text-decoration : underline;"} else "ERROR" end %></td>
    <td><%= if !a.tech_system.nil? then a.tech_system.name else "TBD" end %></td>
 	<td><%= if a.user then a.user.name else "ERROR" end %></td>
    <td><%= period_to_date(a.set_period_id) %></td>
    <td><%= a.effort %></td>
	<td><%= if !a.is_fixed then "Nitro" else "Fixed" end %></td>
    <td><%= a.set_period_id %></td>
    <td class="danger"><%= link_to 'Edit', edit_assignment_path(a) %></td>
    <td class="danger"><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% else %>
	<% @manager.subordinates.each do |subordiate| %>
		<% subordinate.assignments.each do |a| %>
		  <tr>
			<td><%= link_to a.project.name, a, {:style => "color:blue;text-decoration : underline;"} %></td>
    		<td><%= if !a.tech_system.nil? then a.tech_system.name else "TBD" end %></td>
    		<td><%= a.user.name %></td>
    		<td><%= period_to_date(a.set_period_id) %></td>
    		<td><%= a.effort %></td>
			<td><%= if !a.is_fixed then "Nitro" else "Fixed" end %></td>
    		<td><%= a.set_period_id.floor%></td>
			<td class="danger"><%= link_to 'Show', a %></td>
			<td class="danger"><%= link_to 'Edit', edit_assignment_path(a) %></td>
			<td class="danger"><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	<% end %>
<% end %>
</table>
<% end %>




