<p id="notice"><%= notice %></p>

<p>
  <b>Is fixed:</b>
  <%= @assignment.is_fixed %>
</p>

<p>
  <b>Fiscal year:</b>
  <%= @assignment.set_period_id.floor %>
</p>

<p>
  <b>Week:</b>
  <%= period_to_date(@assignment.set_period_id) %>
</p>

<p>
  <b>Effort:</b>
  <%= @assignment.effort %>
</p>

<p>
  <b>User:</b>
  <%= link_to User.find(@assignment.user_id).name, user_path(@assignment.user)  %>
</p>

<p>
  <b>Project Name:</b>
  <%= Project.find(@assignment.project_id).name %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %>
