<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "assignments"} %>
<% end %>
<p id="notice"><%= notice %></p>

<% content_for :main1 do %>
<p>
  <b>Is fixed:</b>
  <%= @assignment.is_fixed %>
</p>

<p>
  <b>Fiscal year:</b>
  <%= @assignment.set_period_id.floor %>
</p>

<p>
  <b>System:</b>
  <%= if !@assignment.tech_system.nil? then @assignment.tech_system.name else "TBD" end %>
</p>

<p>
  <b>Week:</b>
  <%= period_to_date(@assignment.set_period_id) %>
</p>

<p>
  <b>Effort:</b>
  <%= @assignment.effort %>
</p>

<p>
  <b>User:</b>
  <%= link_to User.find(@assignment.user_id).name, user_path(@assignment.user)  %>
</p>

<p>
  <b>Project Name:</b>
  <%= Project.find(@assignment.project_id).name %>
</p>
<% end %>

<% content_for :sidebarwide do %>
<table class="table">
	<tr>
		<td class="danger"><%= link_to 'Edit', edit_assignment_path(@assignment) %></td>
	<tr>
		<td class="danger"><%= link_to 'Back', team_user_path(current_user) %></td>
	<tr>
		<td class="danger"><%= link_to 'New Assignment', new_assignment_path %></td>
</table>
<% end %>
<br>
<br>
