<%= simple_form_for(@system) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :autofocus => true %>
	<%= f.input :description %>
	<%= f.input :qos_group, label: "Capability Group" %>
    <%= f.association :owner, :as => :select, :collection => User.managers_only, 
    	:label_method => :name %>
  </div>
  <br/>
  <div class="form-actions">
  	<div style="float:left">
    	<%= f.button :submit %>
  	</div>
<% end %>
