<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "systems"} %>
<% end %>


<% content_for :sidebar do %>
	<table class="table">
	<% if current_user.admin %>
		<tr>
			<td class="danger"><%= link_to 'Edit', edit_tech_system_path(@system) %></td> 
	<% end %>
	<tr>
		<td class="danger"><%= link_to 'Back', tech_systems_path %></td>
	</table>
<% end %> 

<% content_for :main1 do %>
<div class="row">
	<div class="col-md-12 col-centered">
	<div class="col-md-3">
		<br/>
		<p><b>Name: </b><%= @system.name %></p>
		<p><b>Sub-System: </b><%= @system.qos_group %></p>
		<p><b>Description: </b><%= @system.description %></p>
		<p><b>Owner: </b><%= @system.owner.name %></p>
	</div>
	<div class="col-md-6">
		<%= image_tag(Gchart.bar(:title => "Effort History", 
		:labels => @clabels, :data => @cvalues, :chart_background => 'CCCCCC', :max_value => 25, 
		:min_value => 0, :stacked => false, :size => '550x225', :axis_with_labels => [['x'], ['y']],
		:bar_width_and_spacing => ['40','4'], :bar_colors => "3DB1FF,0061D7,FF148A,FF8A14", 
		:axis_range => [[nil], [25], [25], nil] ), class: "img-responsive")%>
	</div>
	<div class="col-md-3">
		<%= image_tag(Gchart.pie(:title => "Current Project Effort", 
		:data => @svalues, :chart_background => 'CCCCCC', :size => '300x300',
		:legend => @slabels, :legend_position => 'bottom', :slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"), 
		class: "img-responsive")%>
	</div>
	</div>
</div>	
<% end %>
