<%= simple_form_for @user,
	:url => url_for(:action => 'createemp', :controller => 'users') do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
  	<row>
  		<div class="col-md-10">
			<%= f.input :name, :autofocus => true %>
			<%= f.input :email, :required => true %>
			<%= f.hidden_field :password, :value => "abc123" %>
			<%= f.association :manager, :as => :select, :collection => User.managers_only, :label_method => :name %>
			<%= f.association :default_system, :as => :select  %>
			<% if current_user.admin %>
				<div class="checkbox">
					<%= f.input :ismanager, :type => 'checkbox', :class => 'form-control', :id => 'mgrCB' %>
					<%= f.input :admin, :type => 'checkbox', :class => 'form-control', :id => 'adminCB' %>
					<%= f.input :isstatususer, :type => 'checkbox', :class => 'form-control', :id => 'statusCB' %>
				</div>
  			<% end %>
			<div class="form-actions">
				<%= f.button :submit %>
			</div>
		</div>
  	</row>
  </div>

  
<% end %>