<h3>User List</h3>

<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "users"} %>
<% end %>

<br/>
<% if current_user.admin? then %>
	<% content_for :sidebarwide do %>
	<table class="table">
	    <tr>
	    <td class="danger"><%= link_to 'New User', new_user_path %></td>
	    <tr>
	    <td class="danger"><%= link_to 'Show All', users_path(:scope => "all") %></td>
		<b><h4>Filters</h4></b>
		<% if current_user.isstatususer? || current_user.admin %>
			<tr>
			<td class="danger">
				<label for="p_org">Organization:</label>
				<%= select_tag "p_org", options_for_select(org_mgrs_list(), @mgr_id.to_s) %>
			</td>
		<% end %>
	</table>
	<% end %>
<% end %>

<br/>
<% content_for :main1 do %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Emp Type</th>
    <th>Category</th>
    <th>Default System</th>
    <th>Manager</th>
    <th>Reset Pwd</th>
    <% if current_user.admin %>
    	<th>Admin?</th>
    	<th>Works on behalf of</th>
    	<th>Status User?</th>
    	<th>Verified</th>
    <% end %>
  </tr>
<% @users.each do |user| %>
  <tr>
    <% if current_user.admin or user.manager == current_user %>
    	<td><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"}  %></td>
    <% else %>
    	<td><%= user.name %></td>
    <% end %>
    <td><%= user.etype %></td>
    <td><%= user.category %></td>
    <td><%= if user.default_system_id.nil? then "Undefined" else user.default_system.name end %></td>
    <td><%= user.manager.name if user.manager %></td>
    <td><%= link_to 'Reset', reset_user_path(user.id), {:style => "color:blue;text-decoration : underline;"}  %></td>
    <% if current_user.admin %>
    	<td><%= user.admin.to_s %></td>    
    	<td><%= user.impersonates.name if user.impersonates %></td>
    	<td><%= user.isstatususer.to_s %></td>
    	<td><%= if user.verified then 'OK' else link_to 'Verify Now', user_verify_path(user.id), {:style => "color:blue;text-decoration : underline;"}  end %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

