<h3>User List</h3>
<br/>
<table cellpadding="10">
  <tr><%= link_to 'New User', new_user_path %></tr>
</table>
<br/>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Admin?</th>
    <th>Manager</th>
    <th>Verified</th>
    <th>Reset Pwd</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user)  %></td>
    <td><%= user.admin.to_s %></td>
    <td><%= user.manager.name if user.manager %></td>
    <td><%= if user.verified then 'OK' else link_to 'Verify Now', user_verify_path(user.id), {:style => "color:blue;text-decoration : underline;"}  end %></td>
    <td><%= link_to 'Reset', reset_user_path(user.id), {:style => "color:blue;text-decoration : underline;"}  %></td>
  </tr>
<% end %>
</table>

