<h3>User List</h3>

<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "users"} %>
<% end %>

<br/>
<% content_for :sidebar do %>
<table class="table">
  <tr>
  <td class="danger"><%= link_to 'New User', new_user_path %></td>

</table>
<% end %>

<br/>
<% content_for :main1 do %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Default System</th>
    <th>Admin?</th>
    <th>Manager</th>
    <th>Works on behalf of</th>
    <th>Reset Pwd</th>
    <% if current_user.admin %>
    	<th>Status User?</th>
    	<th>Verified</th>
    <% end %>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user)  %></td>
    <td><%= if user.default_system_id.nil? then "Undefined" else user.default_system.name end %></td>
    <td><%= user.admin.to_s %></td>
    <td><%= user.manager.name if user.manager %></td>
    <td><%= user.impersonates.name if user.impersonates %></td>
    <td><%= link_to 'Reset', reset_user_path(user.id), {:style => "color:blue;text-decoration : underline;"}  %></td>
    <% if current_user.admin %>
    	<td><%= user.isstatususer.to_s %></td>
    	<td><%= if user.verified then 'OK' else link_to 'Verify Now', user_verify_path(user.id), {:style => "color:blue;text-decoration : underline;"}  end %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

