<h1>Editing User Attributes</h1>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.association :manager, :as => :select %>
    <% if current_user.admin %>
    	<%= f.input :admin %>
    	<%= f.input :ismanager %>
    	<%= f.input :isstatususer %>
    	<%= f.association :impersonates, :as => :select %>
    <% end %>
    

  </div>
<div class="form-actions">
  <div style="float:left">
    <%= f.button :submit %>
  </div>
<% end %>
	<div style="float:left">
	<%= button_to 'Remove User', {:controller => :users, :action => 'exit', :id => @user.id }, {:confirm => "Remove User Completely From TeamTrack?", :class => "btn" }  %>
	</div>
	<div style="float:left">
	<%= button_to 'Reset Password', {:controller => :users, :action => 'reset', :id => @user.id}, {:method => :get, :class => "btn" }  %>
	</div>
</div>
<div style="clear:left">
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>