<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "user"} %>
<% end %>
<% content_for :main1 do %>
<div class="row">
	<div class="col-md-10">
		<h3>User</h3>
		<p>User: <%= @user.name %></p>
		<p>Email: <%= @user.email if @user.email %></p>
		<p>Manager: <%= @user.manager.name if @user.manager %></p>
		<p>Organization: <%= @user.org if @user.org %></p>
		<p>Default System: <%= @user.default_system.name if @user.default_system %></p>
		<p>Type: <%= @user.etype %></p>
		<p>Category: <%= @user.category %></p>
		<p>Admin: <%= @user.admin %></p>
		<p>Manager: <%= @user.ismanager %></p>
		
		<% if @user.impersonates %>
			<p>Works on behalf of: <%= @user.impersonates.name %></p>
		<% end %>
		<p>Status User: <%= @user.isstatususer %></p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-centered">
		<h3>Assignment History</h3>
		<table class="table">
		  <tr>
			<h5>
			<th>Project</th>
			<th>Fiscal year</th>
			<th>Week #</th>
			<th>Week of</th>
			<th>System</th>
			<th>Effort</th>
			<th>Actions</th>
			<th/>
			</h5>
		  </tr>
		<% @ahistory.order("set_period_id DESC").each do |assignment| %>
		  <tr>
			<td><%= assignment.project.name %></td>
			<td><%= assignment.set_period_id.floor %></td>
			<td><%= week_from_period(assignment.set_period_id) %></td>
			<td><%= period_to_date(assignment.set_period_id) %></td>
			<td><%= if !assignment.tech_system.nil? then assignment.tech_system.name else "ERROR" end %></td>
			<td><%= assignment.effort %></td>
			<td class="danger"><%= if assignment.set_period_id >= current_period || current_user.admin then link_to 'Edit Assignment', edit_assignment_path(assignment) end %></td>
			<% if assignment.set_period_id >= current_period.floor && free_next_week(@user,assignment.set_period_id) then %>
				<td class="danger"><%= link_to 'Extend for a week', extend_assignment_path(assignment, :history_scope => @scope)%></td>
			<% else %>
				<td><%= "Closed" %></td>
			<% end %>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
<% end %>
<br>
<% content_for :sidebarwide do %>
<table class="table" >
	<tr>
		<td class="danger"><%= link_to 'New Assignment', new_assignment_path(:uid => @user.id) %></td>
	<tr>
		<td class="danger"><%= link_to 'Edit account', manage_user_path(:id => @user.id) %></td>
	<tr>
		<td class="danger"><%= link_to 'Full History', user_path(@user, :history_scope => 'all') %></td>
	<tr>
		<td class="danger"><%= link_to 'Back to Team', team_user_path(current_user) %></td>
</table>
<% end %>




