<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Manager: <%= @user.manager.name if @user.manager %></p>
<p>Admin: <%= @user.admin %></p>
<p>Manager: <%= @user.ismanager %></p>
<% if @user.impersonates %>
	<p>Works on behalf of: <%= @user.impersonates.name %></p>
<% end %>
<p>Status User: <%= @user.isstatususer %></p>
<p> <%= link_to 'Edit account', manage_user_path(:id => @user.id) %></p>
<br>
<h3>Assignment History</h3>
<table border="1" cellpadding="10">
  <tr>
  	<h5>
  	<th>Project</th>
    <th>Fiscal year</th>
    <th>Week of</th>
    <th>Effort</th>
    <th>Type</th>
    <th/>
    <th/>
    </h5>
  </tr>
<% @user.assignments.order("set_period_id").each do |assignment| %>
  <tr>
    <td><%= assignment.project.name %></td>
    <td><%= assignment.set_period.fiscal_year %></td>
    <td><%= period_to_date(assignment.set_period) %></td>
    <td><%= assignment.effort %></td>
    <td><%= if !assignment.is_fixed then "Nitro" else "Fixed" end %></td>
    <td><%= if assignment.set_period_id >= current_period.id then link_to 'Edit', edit_assignment_path(assignment) end %></td>
    <td><%= if assignment.set_period_id >= current_period.id - 1 then link_to 'Extend for a week', extend_assignment_path(assignment) else "Closed" end %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'New Assignment', new_assignment_path(:uid => @user.id) %> |
<%= link_to 'Back to Team', team_user_path(current_user) %>


