<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Admin: <%= @user.admin %></p>
<br>
<h3>Assignment History</h3>
<table border="1" cellpadding="10">
  <tr>
  	<h5>
  	<th>Project</th>
    <th>Fiscal year</th>
    <th>Week</th>
    <th>Effort</th>
    <th>Type</th>
    <th/>
    </h5>
  </tr>
<% @user.assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.project.name %></td>
    <td><%= assignment.set_period.fiscal_year %></td>
    <td><%= assignment.set_period.week_number %></td>
    <td><%= assignment.effort %></td>
    <td><%= if !assignment.is_fixed then "Nitro" else "Fixed" end %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'New Assignment', new_assignment_path(:uid => @user.id) %>




