<p>RUNNING ALTERNATE VIEW GEN<p>
  	<% baseorg = User.find(@user_list[0][0]).org %>
  	<div id="grandparent" class="list-group-item">
    <div class="collapsed" data-toggle="collapse" data-target="#teamlistContent" data-role="expander" data-group-id="grandparent">
      <ul class="list-inline">
            <li class="icon-class"></li>
            <li><%= @manager.org %></li>
        </ul>
    </div>
    <div class="collapse" id="teamlistContent" aria-expanded="true">
      <table class="table">
        <thead>
          <tr>
          	<th></th>
            <th>Name/Details</th>
			<th>Default System</th>
			<th><%= "Current System - wk " + week_from_period(@target_period).to_s%></th>
			<th><%= "Current Project - wk " + week_from_period(@target_period).to_s%></th>
			<% if current_user.admin %> 
				<th>Admin Actions</th>
			<% end %>
          </tr>
        </thead>

        <tbody>
        <% @clevel = 0 %>
		<% @user_list[0].each do |mgrId| %>
			<% if mgrID != @manager.id %>
				  <% @currentmgr = User.find(mgrId) %>

				  <% if !@currentmgr.manager.nil? && @user_list[0].include?(@currentmgr.manager.id) %>
				  		<% receiver = @currentmgr.manager.id.to_s + "Content " %>
<!-- 				  		<% subclass = receiver + mgrId.to_s + "Content" %> -->
				  <% else %>
				  		<% receiver = @user_list[0][0].to_s + "Content " %>
				  		
				  <% end %>
				  <% subclass = mgrId.to_s + "Content" %>
				  <% if @currentmgr.manager.nil? then rclass = "collapsed" else rclass = "collapse " + receiver + "collapsed " end %>
				  <% ctarget = "." + mgrId.to_s + "Content" %>
				  
				  <%= tag("tr", class: rclass, data: {toggle: 'collapse', target: ctarget}) %>
					  <%= tag("td", class: 'icon-class') %>
					  <% if @currentmgr.org == baseorg %>
							<td class="success"><%= link_to @currentmgr.name + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% else %>
							<td class="info"><%= link_to @currentmgr.name + "*" + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% end %>
					  <td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr, @target_period) end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr, @target_period) end %></td>
					  <td class="danger">
							<%= link_to 'Extend All', extendteam_user_path(@currentmgr, :floor => @target_period.to_s), 
							:title => "Extend all team members' current (displayed) Assignments for 1 week" %>
							|
							<%= link_to 'View', user_path(@currentmgr), 
							:title => "View details and assignment history for this manager" %></td>
				  </tr>
				  
				  <%= render partial: 'teamlist', locals: {mgr: @currentmgr, tname: subclass, baseorg: baseorg} %>
			 <% end %>	  
		  <% end %>
		  </tbody>
      </table>
    </div>
    <div class="collapsed" data-toggle="collapse" data-target="#testlistContent" data-role="expander" data-group-id="test">
    	<ul class="list-inline">
    		<li class="icon-class"></li>
    		<li>Test Layout</li>
    	</ul>
    </div>
    <div class="collapse" id="testlistContent" aria-expanded="true">
    	<table class="table">
        <thead>
        	<tr>
        		<td></td>
        		<td>Name</td>
        		<td>Birthdate</td>
        		<td>End Date</td>
        	</tr>
        </thead>
        <tbody>	
		  <tr class="collapsed" id="parent1" data-toggle="collapse" data-target=".parent1Content" >
            <td class="icon-class"></td>
            <td>Parent 1</td>
            <td>04/02/2017</td>
            <td>04/04/2017</td>
          </tr>
          <tr class="collapse parent1Content">
            <td></td>
            <td>Child A</td>
            <td>04/01/2017</td>
            <td>04/05/2017</td>
          </tr>
          <tr class="collapse parent1Content collapsed" data-toggle="collapse" data-target=".subchild1Content" data-parent="#parent1" data-group-id="p1Group" >
            <td class="icon-class"></td>
            <td>Child B</td>
            <td>04/03/2017</td>
            <td>04/04/2017</td>
          </tr>
          
          <tr class="collapse subchild1Content" >
          	<td></td>
          	<td>Sub Child 1</td>
          	<td>04/05/2017</td>
          	<td>04/10/2017</td>
          </tr>   
          
          <tr class="collapse subchild1Content" >
          	<td></td>
          	<td>Sub Child 2</td>
          	<td>04/05/2017</td>
          	<td>04/10/2017</td>
          </tr>  
          
          <tr class="collapse subchild1Content" >
          	<td></td>
          	<td>Sub Child 3</td>
          	<td>04/05/2017</td>
          	<td>04/10/2017</td>
          </tr>                   
          
          <tr class="collapsed" data-toggle="collapse" data-target=".parent2Content">
            <td class="icon-class"></td>
            <td>Parent 2</td>
            <td>04/03/2017</td>
            <td>04/10/2017</td>
          </tr>

          <tr class="collapse parent2Content">
            <td></td>
            <td>Child X</td>
            <td>04/10/2017</td>
            <td>04/11/2017</td>
          </tr>          
        </tbody>
      </table>
    </div>
</div>