<h1>Team Members <%= @manager_string %></h1>
<br/>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "team"} %>
<% end %>
<% content_for :sidebarwide do %>
<table class="table" >
	<tr>
		<td class="danger"><%= link_to 'New Assignment', new_assignment_path %></td>
	<% if @condense then %>
		<tr>
			<td class="danger"><%= link_to 'Expand All Users', team_user_path(:id => @manager.id, :condense => false, :nocache => true) %></td>
		</tr>
	<% end %>
	<% if @manager != current_user then %>
		<tr>
			<td class="danger"><%= link_to 'Full Team', team_user_path(:id => current_user.id) %></td>
		<tr>
			<td class="danger"><%= link_to  display_name_for('sys_names', 'project') + ' for: ' + @manager.name, projects_path(:org => @manager.id) %></td>
	<% end %>
	<% if @manager.admin then %>
		<tr>
			<td class="danger"><%= link_to 'Show Ex Employees', team_user_path(:id => @manager.id, 
				:showEx => 'true')  %></dt>
	<% end %>
</table>

<h4><%= "Week " + week_from_period(@target_period).to_s + " Stats:" %></h4>
<h5>Total Available: <small><%= @tm_count.to_s %></small></h5>
<table class="table-bordered table-condensed">
	<tr>
		<th/>
		<th>FTE</th>
		<th>Vendor</th>
		<th>Intern</th>
	</tr>
	<tr>
		<td>R&D</td>
		<td><%= @resstats["R&D"]["FTE"] %></td>
		<td><%=@resstats["R&D"]["Temp"]%></td>
		<td><%=@resstats["R&D"]["Intern"]%></td>
	</tr>
	<tr>
		<td>PGM</td>
		<td><%=@resstats["PGM"]["FTE"]%></td>
		<td><%=@resstats["PGM"]["Temp"]%></td>
		<td><%=@resstats["PGM"]["Intern"]%></td>
	</tr>
	<tr>
		<td>Ops</td>
		<td><%=@resstats["Ops"]["FTE"]%></td>
		<td><%=@resstats["Ops"]["Temp"]%></td>
		<td><%=@resstats["Ops"]["Intern"]%></td>
	</tr>
	<tr>
		<td>Other</td>
		<td><%=@resstats["Other"]["FTE"]%></td>
		<td><%=@resstats["Other"]["Temp"]%></td>
		<td><%=@resstats["Other"]["Intern"]%></td>
	</tr>
</table>

<!-- <h5>Contractors: <small><%= @user_list[2] %></small></h5> -->
<h5><%= "Wk-" + week_from_period(@target_period).to_s + " Allocated:" %><small><%= @total_effort.to_s + " of " + @tm_count.to_s %></small></h5>
<!-- <h5>People Managers:  <small><%= @user_list[0].count %></small></h5> -->
<h5>% Unavailable: <small><%= @oh_pct + "%" %></small></h5>

<%= image_tag(Gchart.pie(:title => 'Effort Allocation', 
		:legend => @clabels, :legend_position => 'bottom', :data => @cvals, 
		:size => '140x200', :chart_background => 'CCCCCC', :slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"))%>

<br/>
<h5><%= link_to 'Refresh Stats', team_user_path(:id => @manager.id, :nocache => 'true'), 
	{:style => "color:blue;text-decoration : underline;"} %></h5>
<% end %>

<% content_for :main1 do %>
<br/>
<br/>
<br/>
<% if @altimpl %>
		
	<table class="table">
	  <tr>
		<th>Name/Details</th>
		<th>Default System</th>
		<th><%= "Current " +  display_name_for('sys_names', 'system') + " - wk " + week_from_period(@target_period).to_s%></th>
		<th><%= "Current " +  display_name_for('sys_names', 'project') + " - wk " + week_from_period(@target_period).to_s%></th>
		<% if current_user.admin %> 
			<th>Admin Actions</th>
		<% end %>
	  </tr>
	
			<% baseorg = User.find(@user_list[0][0]).org %>
			<% @user_list[0].each do |mgrId| %>
				  <% @currentmgr = User.find(mgrId) %>
				  <tr>
					  <% if @currentmgr.org == baseorg %>
							<td class="success"><%= link_to @currentmgr.name + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% else %>
							<td class="info"><%= link_to @currentmgr.name + "*" + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% end %>
					  <td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr, @target_period) end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr, @target_period) end %></td>
					  <td class="danger">
							<%= link_to 'Extend All', extendteam_user_path(@currentmgr, :floor => @target_period.to_s), 
							:title => "Extend all team members' current (displayed) Assignments for 1 week" %>
							|
							<%= link_to 'View', user_path(@currentmgr), 
							:title => "View details and assignment history for this manager" %></td>
				  </tr>
				  <% @currentmgr.subordinates.each do |user| %>
						<% if !user.ismanager %>
							<tr>
								<% if @currentmgr.org == baseorg %>
									<% if user.etype != "FTE" then %>
										<td class="warning"><p class="text-right"><%= link_to user.name + "^", user_path(user), {:title => "Contractor", :style => "text-decoration : underline;"} %></p></td>
									<% else %>
										<td class="success"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
									<% end %>	
								<% else %>
									<td class="info"><p class="text-right"><%= link_to user.name, user_path(user), {:title => "Indirect Report", :style => "text-decoration : underline;"} %></p></td>
								<% end %>
								<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
								<td><%= if user.projects.length > 0 then current_system(user, @target_period) end %></td>
								<td><%= if user.projects.length > 0 then current_project(user, @target_period) end %></td>
								<% if current_user.admin %>
									<td class="danger"><%= if latest(user).length > 0 && free_next_week(user) then link_to 'Extend', 
									extendCurrentAssignment_user_path(user), :title => latestInfoStr(user) end %></td>
								<% end %>		
							</tr>
						<% end %>
				  <% end %>
			 <% end %>
  	</table>
  <% else %>
  	<% baseorg = User.find(@user_list[0][0]).org %>
	<div id="orgfor" class="list-group-item">
    	<div class="collapse in" data-toggle="collapse" data-target="#teamlistContent" data-role="expander">
      		<ul class="list-inline">
            	<li class="icon-class"></li>
            	<li><%= @manager.name + "'s Team" %></li>
            	<li><%= link_to "<span class='btn btn-danger btn-xs'>Extend All</span>".html_safe, extendteam_user_path(@manager, :floor => @target_period.to_s), 
							:title => "Extend all team members' current (displayed) Assignments for 1 week"  %></li>
        	</ul>
    </div>
    <div class="collapse in" id="teamlistContent" aria-expanded="true">
      <table class="table">
        <thead>
          <tr>
          	<th></th>
            <th>Name/Details</th>
			<th>Default System</th>
			<th><%= "Current " +  display_name_for('sys_names', 'service') + " - wk " + week_from_period(@target_period).to_s%></th>
			<th><%= "Current " +  display_name_for('sys_names', 'project') + " - wk " + week_from_period(@target_period).to_s%></th>
			<% if current_user.admin || current_user.ismanager %> 
				<th>Admin Actions</th>
			<% end %>
          </tr>
        </thead>

        <% @clevel = 0 %>
		<% @user_list[0].each do |mgrId| %>
			<% thismgr = User.find(mgrId) %>
			<% if mgrId == @manager.id %>
				<%= tag("tbody", {id: "body-" + mgrId.to_s}, true) %>
				<% thismgr.subordinates.each do |user| %>
					<% if !user.ismanager %>
						<tr>
							<td></td>
							<% if @user_list[3].include? mgrId %>
								<% if user.etype != "FTE" then %>
									<td class="warning"><p class="text-right"><%= link_to user.name + "^", user_path(user), {:title => "Contractor", :style => "text-decoration : underline;"} %></p></td>
								<% else %>
									<td class="success"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
								<% end %>	
							<% else %>
								<td class="info"><p class="text-right"><%= link_to user.name, user_path(user), {:title => "Indirect Report", :style => "text-decoration : underline;"} %></p></td>
							<% end %>
							<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
							<td><%= if user.projects.length > 0 then current_system(user, @target_period) end %></td>
							<td><%= if user.projects.length > 0 then current_project(user, @target_period) end %></td>
							<% if current_user.admin || current_user.ismanager %>
								<td class="danger"><%= if latest(user).length > 0 && free_next_week(user) then link_to 'Extend', 
								extendCurrentAssignment_user_path(user), :title => latestInfoStr(user) end %></td>
							<% end %>		
						</tr>
					<% end %>
				<% end %>
			<% else %>
				  <% if !thismgr.manager.nil? then @direct = @user_list[3].include?(thismgr.manager.id) else @direct = false end %>
				  <% if @direct %>
				  	<% if @currentmgr.nil? %>
				  		<% oo = [@manager] %>
				  	<% else %>
				  		<% oo = [thismgr.manager] %>
				  	<% end %>
				  <% else %>
				  	<% oo = User.where("orgowner = true and org = ?", thismgr.org) %>
				  <% end %>
				  
				  <% if @currentmgr.nil? || thismgr.manager == @manager || thismgr.manager.nil? || (oo.first == @manager && thismgr.org != thismgr.manager.org)  %>
				  	<% @clevel = 0 %>
				  <% else %>
				    <% if thismgr.manager == @currentmgr || oo.first == @currentmgr %>
				    	<% @clevel += 1 %>
				    <% end %>
				  <% end %>			  
				  				  
				  <% if !thismgr.manager.nil? && @user_list[0].include?(thismgr.manager.id) && thismgr.org == thismgr.manager.org %>
				  		<% pid = thismgr.manager.id.to_s  %>
				  <% else %>
				  		<% if thismgr.manager.nil? %>
				  			<% pid = @user_list[0][0].to_s  %>
				  		<% else %>
				  			<% if @user_list[0].include?(oo.first.id) %>
				  				<% pid = oo.first.id.to_s %>
				  			<% else %>
				  				<% pid = @user_list[0][0].to_s %>
				  			<% end %>
				  		<% end %>
				  <% end %>
				  <% parent = pid + "Content " %>
				  
				  <% @currentmgr = thismgr %>
				  
				  <% subclass = mgrId.to_s + "Content" %>
				  
				  <% if @currentmgr.manager.nil? %>
				  		<% rclass = ['collapsed'] %>
				  <% else %>
				  			<% if @clevel == 0 then rclass = ['collapsed','pending'] else rclass = [parent,'pending','collapse', 'collapsed'] end %> 
				  <% end %>
				  <% ctarget = "." + mgrId.to_s + "Content" %>
				  <% if @clevel == 0 then dataparent = "" else dataparent = "parent-" + pid end %>
				  
				  <%= tag("tr", id: "parent-" + mgrId.to_s, class: rclass, data: {group: ctarget}) %>
					 
					  <%= tag("td", class: ['icon-class', 'collapsed'], data: {toggle: 'collapse', target: ctarget, org: @currentmgr.org, direct: @direct} ) %>
					  
					  
					  <% if @direct %>
							<td class="success"><%= link_to @currentmgr.name + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% else %>
							<td class="info"><%= link_to @currentmgr.name + "*" + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% end %>
					  <td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr, @target_period) end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr, @target_period) end %></td>
					  <td class="danger">
							<%= link_to 'Extend All', extendteam_user_path(@currentmgr, :floor => @target_period.to_s), 
							:title => "Extend all team members' current (displayed) Assignments for 1 week" %>
							|
							<%= link_to 'View', user_path(@currentmgr), 
							:title => "View details and assignment history for this manager" %></td>
				  </tr>
				  </tbody>
				  <%= tag("tbody", {id: "body-" + thismgr.id.to_s}, true) %>

			  
			  <% end %>  
		  <% end %>
		  </tbody>
		  </tbody>
      </table>
</div>
  <% end %>
<br/>
<% end %>