<h1>Team Members for <%= @manager.name %></h1>
<br/>
<%= link_to 'New Assignment', new_assignment_path %>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Current Projects</th>
    <th></th>
  </tr>

<% all_subs(@manager.id).each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= if user.projects.length > 0 then current_project(user) end %></td>
    <td><%= link_to 'Details', user_path(user) %></td>
  </tr>
<% end %>
</table>


