<h1>Team Members <%= @manager_string %></h1>
<br/>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "team"} %>
<% end %>
<% content_for :sidebarwide do %>
<table class="table" >
	<tr>
		<td class="danger"><%= link_to 'New Assignment', new_assignment_path %></td>
	<% if @manager != current_user then %>
		<tr>
			<td class="danger"><%= link_to 'Full Team', team_user_path(:id => current_user.id) %></td>
		<tr>
			<td class="danger"><%= link_to 'Projects for: ' + @manager.name, projects_path(:org => @manager.id) %></td>
	<% end %>
	<% if @manager.admin then %>
		<tr>
			<td class="danger"><%= link_to 'Show Ex Employees', team_user_path(:id => @manager.id, 
				:showEx => 'true')  %></dt>
	<% end %>
</table>
<h4><%= "Week " + week_from_period(@target_period).to_s + " Stats:" %></h4>
<h5>Available: <small><%= @user_list.count.to_s%></small></h5>
<h5>Accounted for: <small><%= @total_effort.to_s + " of " + @user_list.count.to_s%></small></h5>
<h5>People Managers:  <small><%= @mgr_count %></small></h5>
<h5>% Unavailable: <small><%= @oh_pct + "%" %></small></h5>
<br/>
<%= image_tag(Gchart.pie(:title => 'Effort Allocation', 
		:legend => @clabels, :legend_position => 'bottom', :data => @cvals, 
		:size => '140x200', :chart_background => 'CCCCCC', :slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"))%>

<br/>
<br/>
<h5><%= link_to 'Refresh Stats', team_user_path(:id => @manager.id, :nocache => 'true'), 
	{:style => "color:blue;text-decoration : underline;"} %></h5>
<% end %>
<% content_for :main1 do %>
<table class="table">
  <tr>
    <th>Name/Details</th>
    <th>Default System</th>
    <th><%= "Current System - wk " + week_from_period(@target_period).to_s%></th>
    <th><%= "Current Project - wk " + week_from_period(@target_period).to_s%></th>
    <% if current_user.admin %> 
    	<th>Admin Actions</th>
    <% end %>
  </tr>

<% @user_list.each do |user| %>
  <tr>
	<% if user != @manager %>
		<% if !user.manager.nil? && (user.manager == current_user || user.manager.orgowner || user.manager.org == user.org) && user.manager != @currentmgr %>
			<% if @indirect %>
				<td><%= link_to user.manager.name + "*", team_user_path(user.manager), {:title => "Indirect Report", :style => "color:blue;text-decoration : underline;"} %></td>
			<% else %>
				<td><%= link_to user.manager.name, team_user_path(user.manager), {:style => "color:blue;text-decoration : underline;"} %></td>
			<% end %>
			<% @currentmgr = user.manager %>
			<td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
			<td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr, @target_period) end %></td>
			<td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr, @target_period) end %>
			<% if current_user.ismanager %>
					<td class="danger">
						<%= link_to 'Extend All', extendteam_user_path(@currentmgr, :floor => @target_period.to_s), 
						:title => "Extend all team members' current (displayed) Assignments for 1 week" %>
						|
						<%= link_to 'View', user_path(@currentmgr), 
						:title => "View details and assignment history for this manager" %></td>
			<% end %>
			<% if user.subordinates.count == 0 then %>
				<tr>
					<% if @indirect %>
						<td class="info"><p class="text-right"><%= link_to user.name, user_path(user), {:title => "Indirect Report", :style => "text-decoration : underline;"} %></p></td>
					<% else %>
						<% if user.is_contractor then %>
							<td class="warning"><p class="text-right"><%= link_to user.name + "^", user_path(user), {:title => "Contractor", :style => "text-decoration : underline;"} %></p></td>
						<% else %>
							<td class="success"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
						<% end %>
					<% end %>
					<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
					<td><%= if user.projects.length > 0 then current_system(user, @target_period) end %></td>
					<td><%= if user.projects.length > 0 then current_project(user, @target_period) end %></td>
					<% if current_user.admin %>
						<td class="danger"><%= if latest(user).length > 0 && free_next_week(user) then link_to 'Extend', 
							extendCurrentAssignment_user_path(user), :title => latestInfoStr(user) end %></td>
					<% end %>
				</tr>
			<% end %>
			
		<% else %>
			  <% if user.subordinates.count == 0 then %>
				<% if @indirect %>
						<td class="info"><p class="text-right"><%= link_to user.name, user_path(user), {:title => "Indirect Report", :style => "text-decoration : underline;"} %></p></td>
					<% else %>
						<% if user.is_contractor then %>
							<td class="warning"><p class="text-right"><%= link_to user.name + "^", user_path(user), {:title => "Contractor", :style => "text-decoration : underline;"} %></p></td>
						<% else %>
							<td class="success"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
						<% end %>
					<% end %><td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
				<td><%= if user.projects.length > 0 then current_system(user, @target_period) end %></td>
				<td><%= if user.projects.length > 0 then current_project(user, @target_period) end %></td>
				<% if current_user.admin %>
					<td class="danger"><%= if latest(user).length > 0 && free_next_week(user) then link_to 'Extend', 
						extendCurrentAssignment_user_path(user), :title => latestInfoStr(user) end %></td>
				<% end %>
			  <% end %>
		<% end %>
	  <% else %>
	  	<!-- Catch Case: throw this row out, following are all 'indirect' resources -->
		<% @indirect = true %>
	  <% end %>
<!--   <td class="danger"><%= link_to 'Details', user_path(user) %></td> -->
  </tr>
<% end %>
</table>
<br/>
<% end %>