<h1>Team Members <%= @manager_string %></h1>
<br/>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "team"} %>
<% end %>
<% content_for :sidebarwide do %>
<table class="table" >
	<tr>
		<td class="danger"><%= link_to 'New Assignment', new_assignment_path %></td>
	<% if @condense then %>
		<tr>
			<td class="danger"><%= link_to 'Expand All Users', team_user_path(:id => @manager.id, :condense => false, :nocache => true) %></td>
		</tr>
	<% end %>
	<% if @manager != current_user then %>
		<tr>
			<td class="danger"><%= link_to 'Full Team', team_user_path(:id => current_user.id) %></td>
		<tr>
			<td class="danger"><%= link_to 'Projects for: ' + @manager.name, projects_path(:org => @manager.id) %></td>
	<% end %>
	<% if @manager.admin then %>
		<tr>
			<td class="danger"><%= link_to 'Show Ex Employees', team_user_path(:id => @manager.id, 
				:showEx => 'true')  %></dt>
	<% end %>
</table>
<h4><%= "Week " + week_from_period(@target_period).to_s + " Stats:" %></h4>
<h5>Total Available: <small><%= @tm_count.to_s %></small></h5>
<h5>Contractors: <small><%= @user_list[2] %></small></h5>
<h5><%= "Wk-" + week_from_period(@target_period).to_s + " Allocated:" %><small><%= @total_effort.to_s + " of " + @tm_count.to_s %></small></h5>
<h5>People Managers:  <small><%= @user_list[0].count %></small></h5>
<h5>% Unavailable: <small><%= @oh_pct + "%" %></small></h5>
<br/>
<%= image_tag(Gchart.pie(:title => 'Effort Allocation', 
		:legend => @clabels, :legend_position => 'bottom', :data => @cvals, 
		:size => '140x200', :chart_background => 'CCCCCC', :slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"))%>

<br/>
<br/>
<h5><%= link_to 'Refresh Stats', team_user_path(:id => @manager.id, :nocache => 'true'), 
	{:style => "color:blue;text-decoration : underline;"} %></h5>
<% end %>

<% content_for :main1 do %>
<% if @altimpl %>
		
	<table class="table">
	  <tr>
		<th>Name/Details</th>
		<th>Default System</th>
		<th><%= "Current System - wk " + week_from_period(@target_period).to_s%></th>
		<th><%= "Current Project - wk " + week_from_period(@target_period).to_s%></th>
		<% if current_user.admin %> 
			<th>Admin Actions</th>
		<% end %>
	  </tr>
	
			<% baseorg = User.find(@user_list[0][0]).org %>
			<% @user_list[0].each do |mgrId| %>
				  <% @currentmgr = User.find(mgrId) %>
				  <tr>
					  <% if @currentmgr.org == baseorg %>
							<td class="success"><%= link_to @currentmgr.name + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% else %>
							<td class="info"><%= link_to @currentmgr.name + "*" + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% end %>
					  <td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr, @target_period) end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr, @target_period) end %></td>
					  <td class="danger">
							<%= link_to 'Extend All', extendteam_user_path(@currentmgr, :floor => @target_period.to_s), 
							:title => "Extend all team members' current (displayed) Assignments for 1 week" %>
							|
							<%= link_to 'View', user_path(@currentmgr), 
							:title => "View details and assignment history for this manager" %></td>
				  </tr>
				  <% @currentmgr.subordinates.each do |user| %>
						<% if !user.ismanager %>
							<tr>
								<% if @currentmgr.org == baseorg %>
									<% if user.is_contractor then %>
										<td class="warning"><p class="text-right"><%= link_to user.name + "^", user_path(user), {:title => "Contractor", :style => "text-decoration : underline;"} %></p></td>
									<% else %>
										<td class="success"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
									<% end %>	
								<% else %>
									<td class="info"><p class="text-right"><%= link_to user.name, user_path(user), {:title => "Indirect Report", :style => "text-decoration : underline;"} %></p></td>
								<% end %>
								<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
								<td><%= if user.projects.length > 0 then current_system(user, @target_period) end %></td>
								<td><%= if user.projects.length > 0 then current_project(user, @target_period) end %></td>
								<% if current_user.admin %>
									<td class="danger"><%= if latest(user).length > 0 && free_next_week(user) then link_to 'Extend', 
									extendCurrentAssignment_user_path(user), :title => latestInfoStr(user) end %></td>
								<% end %>		
							</tr>
						<% end %>
				  <% end %>
			 <% end %>
  	</table>
  <% else %>
  	<% baseorg = User.find(@user_list[0][0]).org %>
	<div id="orgfor" class="list-group-item">
    	<div class="collapse in" data-toggle="collapse" data-target="#teamlistContent" data-role="expander">
      		<ul class="list-inline">
            	<li class="icon-class"></li>
            	<li><%= @manager.name + "'s Team" %></li>
        	</ul>
    </div>
    <div class="collapse in" id="teamlistContent" aria-expanded="true">
      <table class="table">
        <thead>
          <tr>
          	<th></th>
            <th>Name/Details</th>
			<th>Default System</th>
			<th><%= "Current System - wk " + week_from_period(@target_period).to_s%></th>
			<th><%= "Current Project - wk " + week_from_period(@target_period).to_s%></th>
			<% if current_user.admin %> 
				<th>Admin Actions</th>
			<% end %>
          </tr>
        </thead>

        <tbody>
        <% @clevel = 0 %>
		<% @user_list[0].each do |mgrId| %>
			<% thismgr = User.find(mgrId) %>
			<% if mgrId == @manager.id %>
				<% thismgr.subordinates.each do |user| %>
					<% if !user.ismanager %>
						<tr>
							<td></td>
							<% if @user_list[3].include? mgrId %>
								<% if user.is_contractor then %>
									<td class="warning"><p class="text-right"><%= link_to user.name + "^", user_path(user), {:title => "Contractor", :style => "text-decoration : underline;"} %></p></td>
								<% else %>
									<td class="success"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
								<% end %>	
							<% else %>
								<td class="info"><p class="text-right"><%= link_to user.name, user_path(user), {:title => "Indirect Report", :style => "text-decoration : underline;"} %></p></td>
							<% end %>
							<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
							<td><%= if user.projects.length > 0 then current_system(user, @target_period) end %></td>
							<td><%= if user.projects.length > 0 then current_project(user, @target_period) end %></td>
							<% if current_user.admin %>
								<td class="danger"><%= if latest(user).length > 0 && free_next_week(user) then link_to 'Extend', 
								extendCurrentAssignment_user_path(user), :title => latestInfoStr(user) end %></td>
							<% end %>		
						</tr>
					<% end %>
				<% end %>
			<% else %>
				  <% @direct = @user_list[3].include?(mgrId) %>
				  <% if @direct %>
				  	<% oo = [@currentmgr] %>
				  <% else %>
				  	<% oo = User.where("orgowner = true and org = ?", thismgr.org) %>
				  <% end %>
				  
				  <% if @currentmgr.nil? || thismgr.manager == @manager || thismgr.orgowner || !@user_list[0].include?(mgrId) %>
				  	<% @clevel = 0 %>
				  <% else %>
				    <% if thismgr.manager == @currentmgr || oo.first == @currentmgr then @clevel += 1 end %>
				  <% end %>
				  

				  <% if !thismgr.manager.nil? && @user_list[0].include?(thismgr.manager.id) %>
				  		<% receiver = thismgr.manager.id.to_s + "Content " %>
				  <% else %>
				  		<% if thismgr.manager.nil? %>
				  			<% receiver = @user_list[0][0].to_s + "Content " %>
				  		<% else %>
				  			<% if @user_list[0].include?(oo.first.id) %>
				  				<% receiver = oo.first.id.to_s + "Content " %>
				  			<% else %>
				  				<% receiver = @user_list[0][0].to_s + "Content " %>
				  			<% end %>
				  		<% end %>
				  <% end %>
				  
				  <% @currentmgr = thismgr %>
				  
				  <% subclass = mgrId.to_s + "Content" %>
				  
				  <% if @currentmgr.manager.nil? %>
				  		<% rclass = "collapsed" %>
				  <% else %>
				  			<% if @clevel == 0 then rclass = "collapse in " + receiver + "collapsed " else rclass = "collapse " + receiver + "collapsed " end %> 
				  <% end %>
				  <% ctarget = "." + mgrId.to_s + "Content" %>
				  
				  <%= tag("tr", class: rclass, data: {toggle: 'collapse', target: ctarget}) %>
					 
					  <%= tag("td", class: 'icon-class') %>
					  
					  
					  <% if @direct %>
							<td class="success"><%= link_to @currentmgr.name + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% else %>
							<td class="info"><%= link_to @currentmgr.name + "*" + subs_assignment_stats_string(@currentmgr), team_user_path(@currentmgr), {:style => "color:blue;text-decoration : underline;"} %></td> 
					  <% end %>
					  <td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr, @target_period) end %></td>
					  <td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr, @target_period) end %></td>
					  <td class="danger">
							<%= link_to 'Extend All', extendteam_user_path(@currentmgr, :floor => @target_period.to_s), 
							:title => "Extend all team members' current (displayed) Assignments for 1 week" %>
							|
							<%= link_to 'View', user_path(@currentmgr), 
							:title => "View details and assignment history for this manager" %></td>
				  </tr>
				  <%= render partial: 'teamlist', locals: {mgr: @currentmgr, tname: subclass, baseorg: baseorg, isdirect: @direct} %>
			  
			  <% end %>  
		  <% end %>
		  </tbody>
      </table>
    </div>
</div>
  <% end %>
<br/>
<% end %>