<h1>Team Members <%= @manager_string %></h1>
<br/>
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "team"} %>
<% end %>
<% content_for :sidebar do %>
<table class="table" >
	<tr>
		<td class="danger"><%= link_to 'New Assignment', new_assignment_path %></td>
	<tr>
		<td class="danger"><%= link_to 'Extend all one week', extendteam_user_path(@manager) %></td>
	<tr>
		<td class="danger"><%= if @manager != current_user then link_to 'Full Team', team_user_path(:id => current_user.id) end %></td>
</table>
<% end %>
<br/>
<% content_for :main1 do %>
<table class="table">
  <tr>
    <th>Name/Details</th>
    <th>Default System</th>
    <th>Current System</th>
    <th>Current Projects</th>
<!--    <th></th>  -->
    <% if current_user.admin %> 
    	<th>Admin Actions</th>
    <% end %>
  </tr>

<% all_subs(@manager.id).each do |user| %>
  <tr>
<!-- <td class="warning"><%= link_to user.manager.name, team_user_path(user.manager) %></td> 	 -->
	<% if user.manager != @currentmgr %>
		<td><%= link_to user.manager.name, team_user_path(user.manager), {:style => "color:blue;text-decoration : underline;"} %></td>
		<% @currentmgr = user.manager %>
		<td><%= if !@currentmgr.default_system.nil? then @currentmgr.default_system.name else "NA" end %></td>
		<td><%= if @currentmgr.projects.length > 0 then current_system(@currentmgr) end %></td>
		<td><%= if @currentmgr.projects.length > 0 then current_project(@currentmgr) end %>
		<% if current_user.admin %>
				<td class="danger"><%= link_to 'Edit', manage_user_path(@currentmgr) %></td>
		<% end %>
		<% if user.subordinates.count == 0 then %>
			<tr>
				<td class="warning"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
				<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
				<td><%= if user.projects.length > 0 then current_system(user) end %></td>
				<td><%= if user.projects.length > 0 then current_project(user) end %></td>
				<% if current_user.admin %>
					<td class="danger"><%= link_to 'Edit', manage_user_path(user) %></td>
				<% end %>
			</tr>
		<% end %>
	<% else %>
		  <% if user.subordinates.count == 0 then %>
			<td class="warning"><p class="text-right"><%= link_to user.name, user_path(user), {:style => "text-decoration : underline;"} %></p></td>
			<td><%= if !user.default_system.nil? then user.default_system.name else "NA" end %></td>
			<td><%= if user.projects.length > 0 then current_system(user) end %></td>
			<td><%= if user.projects.length > 0 then current_project(user) end %></td>
			<% if current_user.admin %>
				<td class="danger"><%= link_to 'Edit', manage_user_path(user) %></td>
			<% end %>
		  <% end %>
	<% end %>
<!--   <td class="danger"><%= link_to 'Details', user_path(user) %></td> -->
  </tr>
<% end %>
</table>
<br/>
<% end %>