<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :active %>
    <%= f.association :owner, :as => :select %>
    <%= f.input :description %>
    <%= f.input :fixed_resource_budget %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
