<%= simple_form_for(@project, inline_errors: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
	<row>
	   <div class="col-md-10">
		<% if !@project.name.nil? %>
			<% if @project.active %>
					<h4>Status:  Active</h4>
			<% else %>
					<h4>Status:  In-Active</h4>
			<% end %>
		<% end %>
		<br/>
		<%= f.input :name, :autofocus => true, label: "Name"  %>
		<%= f.association :owner, :as => :select, :collection => User.managers_only, :required => true,  
		 	:pattern => false, :label_method => :name, label: "Owner" %>	
		<%= f.input :description, inline_label: 'Description:', label: "Description", :required => true %>
		<%= f.input :upl_number, inline_label: 'UPL Number', label: "UPL #:" %>
		<div class="control-group select optional project_category">
			<label class="select optional control-label" for="projeect_category">Resource Category:</label>
				<div class="controls">
					<%= f.select(:category, options_for_select(["HQA", "New Value", "RTB", "Sec/Comp", "Overhead"], 
					@project.category), :required => true)  %>
				</div>
		</div>
		<div class="control-group select optional project_category">
			<label class="select optional control-label" for="projeect_category">Primary RTM:</label>
				<div class="controls">
					<%= f.select(:rtm, options_for_select(["", "Individual", "Mid-Market", "Enterprise", "All", "B2B"], 
					@project.rtm))  %>
				</div>
		</div>
		<div class="control-group select optional project_psh">
			<label class="select optional control-label" for="projeect_psh">Primary Stakeholder:</label>
				<div class="controls">
					<%= f.select(:psh, options_for_select(["", "DME", "DMA", "DC", "Adobe", "SG&A", "NA"], @project.psh))  %>
				</div>
		</div>
		<div class="control-group select optional project_ctpriority">
			<label class="select optional control-label" for="project_ctpriority">CT Priority:</label>
				<div class="controls">
					<%= f.select(:ctpriority, options_for_select(["NA", "Commerce-Conversion", "Commerce-Enhancements", "Commerce-GlobalCoverage", 
						"Commerce-MaintBreakFix", "Commerce-OpsExcellence", "Commerce-PlatformOps", "Commerce-Retention", "Commerce-EnterpriseFeatures",
						"CustomerExp-Consumer-AdminExp", "CustomerExp-Consumer-SupportExp", "CustomerExp-Consumer-Enhancements", 
						"CustomerExp-Consumer-MaintBreakFix", "CustomerExp-Core-AdminExp", "CustomerExp-Core-SupportExp", "CusomterExp-Core-Enhancements",
						"CustomerExp-Core-MaintBreakFix", "CusotmerExp-Ent-AdminExp", "CustomerExp-Ent-SupportExp", "CustomerExp-Ent-Enhancements",
						"CustomerExp-Ent-MainBreakFix", "Identity-CorePlatform", "Identity-EnterpriseUpAndRunning", "Identity-SecuritySvcs",
						"Identity-SignUpSignInExp"], @project.ctpriority))  %>
				</div>
		</div>
		<%= f.association :initiative, :as => :select, :collection => Initiative.for_year(current_fy),
			:label_method => :name, label: "CT Theme" %>
		<%= f.input :fixed_resource_budget, inline_label: 'Fixed Resource Budget:', label: "Resource Budget",
			input_html: {value: @project.fixed_resource_budget || '0'} %>
		<% if current_user.admin %>
			<div class="checkbox">
				<%= f.input :keyproj,  :type => 'checkbox', inline_label: 'Key Initiative', label: false %>
			</div>
					
  		<% end %> 
		<br/>	
		<div class="form-actions">
  			<div style="float:left">
    			<%= f.button :submit %>
  			</div>
  		</div>
  	  </div>
  	</row>

  </div>
  
<% end %>
