<%= simple_form_for(@project, inline_errors: true) do |f| %>
  <row>
  <div class="col-md-10">
  	<p class="text-left"><%= f.error_notification message: "Update Failed: " + 
  		if f.error(:ctpriority).present? then f.error(:ctpriority) else "" end %></p>
  </div>
  </row>
  <div class="form-group">
	<row>
	   <div class="col-md-10">
		<% if !@project.name.nil? %>
			<% if @project.active %>
					<h4>Status:  Active</h4>
			<% else %>
					<h4>Status:  In-Active</h4>
			<% end %>
		<% end %>
		<br/>
		<%= f.input :name, :autofocus => true, label: "Name"  %>
		<%= f.association :owner, :as => :select, :collection => User.managers_only, :required => true,  
		 	:pattern => false, :label_method => :name, label: "Owner" %>	
		<%= f.input :description, as: :text, inline_label: 'Description:', label: "Description", :required => true, :input_html => {:rows => 5} %>
		<%= f.input :upl_number, inline_label: 'ID #:', label: display_name_for('sys_names', 'project') + ' ID #' %>
		<div class="control-group select optional project_category">
			<label class="select optional control-label" for="project_category"><%= get_cfield_name("p_cust_1") + ":"%></label>
				<div class="controls">
					<%= f.select(:category, options_for_select(get_picklist("p_cust_1",nil,true), 
					@project.category), :required => true)  %>
				</div>
		</div>
		<div class="control-group select optional project_rtm">
			<label class="select optional control-label" for="project_rtm"><%= get_cfield_name("p_cust_2") + ":"%></label>
				<div class="controls">
					<%= f.select(:rtm, options_for_select(get_picklist("p_cust_2"), 
					@project.rtm))  %>
				</div>
		</div>
		<div class="control-group select optional project_psh">
			<label class="select optional control-label" for="projeect_psh"><%= get_cfield_name("p_cust_3") + ":"%></label>
				<div class="controls">
					<%= f.select(:psh, options_for_select(get_picklist("p_cust_3"), @project.psh))  %>
				</div>
		</div>
		<%= f.association :initiative, :as => :select, :collection => Initiative.for_year(current_fy),
			:label_method => :name, label: display_name_for('sys_names', 'initiative') + ":", :input_html => {onchange: "updateprilist(this)", 
			data: {message: "['o1', 'o2', 'o3']"} } %>
		<div class="control-group select optional project_ctpriority">
			<label class="select optional control-label" for="project_ctpriority"><%= get_cfield_name("p_cust_4") + ":"%></label>
				<div class="controls">
					<%= f.select :ctpriority, options_for_select(get_picklist("p_cust_4",@project,true), @project.ctpriority)  %>
				</div>
		</div>
		<br/>
		<%= f.input :fixed_resource_budget, inline_label: 'Fixed Resource Budget:', label: "Resource Budget",
			input_html: {value: @project.fixed_resource_budget || '0'} %>
		<% if current_user.admin %>
			<div class="checkbox">
				<%= f.input :keyproj,  :type => 'checkbox', inline_label: 'Key Project', label: false %>
			</div>
					
  		<% end %> 
		<br/>	
		<div class="form-actions">
  			<div style="float:left">
    			<%= f.button :submit %>
  			</div>
  		</div>
  	  </div>
  	</row>

  </div>
  
<% end %>
