<h1>Listing projects</h1>
<br />
<%= link_to 'New Project', new_project_path %>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Current Allocation</th>
    <th>YTD Total Allocation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.active %></td>
    <td><%= project.owner.name %></td>
    <td><%= project.description %></td>
    <td><%= current_allocation(project) %></td>
    <td><%= ytd_allocation(project) %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


