<h1>Projects</h1>
<br />
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "projects"} %>
<% end %>

<% if current_user.admin %>
	<% content_for :sidebar do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'New-Project', new_project_path %></td>
		<tr>
		<td class="danger"><%= link_to 'Show-All', projects_path(:scope => "all") %></td>
	</table>
	<% end %>
<% end %>


<% content_for :main1 do %>
<div class="row">
  <div class="col-md-12 col-centered">
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'YTD Effort Allocation', 
		:labels => @clabels_ytd, :data => @cvals_ytd, :size => '300x175', :chart_background => 'CCCCCC'))%>
	</div>
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'QTD Effort Allocation', 
		:labels => @clabels_qtd, :data => @cvals_qtd, :size => '300x175', :chart_background => 'CCCCCC'))%>
	</div>
  </div>
</div>
<br/>
<div class="row">
	<div class="col-md-12">
	<table class="table">
	  <tr>
		<th>Name</th>
		<th>UPL-Id</th>
		<th>Category</th>
		<th>Delivery Lead</th>
		<th>Description</th>
		<th>Current Allocation</th>
		<th>YTD Total Allocation</th>
		<% if current_user.admin %>
			<th>Status</th>
			<th></th>
		<% end %>
	  </tr>
	<% @projects.where(:active => true).each do |project|  %>
	  <tr>
		<td class="link"><u><%= link_to project.name, project %></u></td>
		<td><%= project.upl_number %></td>
		<td><%= project.category %></td>
		<td><%= project.owner.name %></td>
		<td><%= project.description %></td>
		<td><%= current_allocation(project) %></td>
		<td><%= ytd_allocation(project) %></td>
		<% if current_user.admin %>
			<td><%= if current_user.admin then if project.active then "Active" else "Closed" end end %></td>
			<td class="danger"><%= link_to 'Edit', edit_project_path(project) %></td>
		<% end %>
	  </tr>  
	<% end %>
	<% if current_user.admin %>
		<% @projects.where(:active => false).each do |p| %>
			<tr>
				<td class="link"><u><%= link_to p.name, p %></u></td>
				<td><%= p.upl_number %></td>
				<td><%= p.category %></td>
				<td><%= p.owner.name %></td>
				<td><%= p.description %></td>
				<td><%= current_allocation(p) %></td>
				<td><%= ytd_allocation(p) %></td>
				<td><%= if p.active then "Active" else "Closed" end %></td>
				<td class="danger"><%= if current_user.admin then link_to 'Edit', edit_project_path(p) end %></td>
			</tr>
		<% end %>
	<% end %>

	</table>
	</div>
</div>
<% end %>


