<h1>Initiatives</h1>
<br />
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "projects"} %>
<% end %>


<% content_for :sidebarwide do %>
<b><%= if @mgr_id == 0 then "All Orgs" else "For Mgr: " + User.find_by_id(@mgr_id).name end %></b>
<table class="table">
	<% if current_user.admin %>
		<tr>
		<td class="danger"><%= link_to 'New Initiative', new_project_path %></td>
		<tr>
		<td class="danger"><%= link_to 'Include Closed', projects_path(:scope => "all", :org => @mgr_id, :fy => @fy) %></td>
	<% end %>
	<b><h4>Filters</h4></b>
	<% if current_user.isstatususer? || current_user.admin %>
		<tr>
		<td class="danger">
			<label for="p_org">Organization:</label>
			<%= select_tag "p_org", options_for_select(org_mgrs_list(), @mgr_id.to_s) %>
		</td>
	<% end %>
	<tr>
	<td class="danger">
		<label for="f_year">Fiscal Year:</label>
		<%= select_tag "f_year", options_for_select(fy_list(false), @fy.to_s) %>
	</td>
</table>
<% end %>


<% content_for :main1 do %>
<div class="row">
	<div class="col-md-12 col-centered">
		<h4><b><%= if @scopeall then "All" else "Active" end %>
			<%= " Initiatives for Org: " %>
			<%= if @mgr_id == 0 then "All Orgs - FY" else User.find_by_id(@mgr_id).org + " - FY" end %>
			<%= @fy.to_s %></b>
		</h4>
	</div>
</div>
<div class="row">
  <div class="col-md-8">
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'YTD Effort Allocation', 
		:labels => @clabels_ytd, :data => @cvals_ytd, :text => 'value', :size => '340x200', :chart_background => 'CCCCCC',
		:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"))%>
		</br>
		<p><%= if @showVals then 'Data:  ' + @cfdata.to_s end %></p>
	</div>
	<% if @cfdata_qtd.to_h.length > 0 then %>
	<div class="col-md-6">
		<%= image_tag(Gchart.pie(:title => 'QTD Effort Allocation', 
		:labels => @clabels_qtd, :data => @cvals_qtd, :size => '300x200', :chart_background => 'CCCCCC',
		:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
		</br>
		<p><%= if @showVals then 'Data:  ' + @cfdata_qtd.to_s end %></p>
	</div>
	<% end %>
	<% if @statsView then %>
		<div class="col-md-6">
			<%= image_tag(Gchart.pie(:title => 'YTD RTM Allocation', 
			:labels => @slabels, :data => @sVals, :size => '340x200', :chart_background => 'CCCCCC',
			:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
			</br>
			<p><%= if @showVals then 'Data:  ' + @sVals.to_s end %></p>
		</div>
		<div class="col-md-6">
			<%= image_tag(Gchart.pie(:title => 'YTD BU Allocation', 
			:labels => @pshlabels, :data => @pshVals, :size => '300x200', :chart_background => 'CCCCCC',
			:slice_colors => "3DB1FF,0061D7,FF148A,FF8A14", :pieSliceText => 'value'))%>
			</br>
			<p><%= if @showVals then 'Data:  ' + @sVals.to_s end %></p>
		</div>
	<% end %>
  </div>
  <div class="col-md-4">
  	<table class="table">
		<tr>
			<th>CT Priority</th>
			<th>YTD FTE Equivalent</th>
		</tr>
		<% @ctpdata.each do |ctp|%>
			<tr>
				<td><%= ctp[0] %></td>
				<td><%= ctp[1] %></td>
			</tr>
		<% end %>
	</table>
  </div>
</div>
<br/>
<div class="row">
	<div class="col-md-12">
	<table class="table">
	  <tr>
		<th>Name</th>
		<th>UPL-Id</th>
		<th>Category</th>
		<th>Delivery Lead</th>
		<th>Description</th>
		<th>Current Allocation</th>
		<th><%= if @fy == current_fy then "YTD FTE Equivalent" else "FY FTE Equivalent" end %></th>
		<% if current_user.admin %>
			<th>CT Theme</th>
			<th>Status</th>
			<th></th>
		<% end %>
	  </tr>
	<% @projects.where(:active => true).each do |project|  %>
	  <tr>
		<td class="link"><u><%= link_to project.name, project %></u></td>
		<td><%= project.upl_number %></td>
		<td><%= project.category %></td>
		<td><%= project.owner.name %></td>
		<td><%= project.description %></td>
		<td><%= current_allocation(project, 1) %></td>
		<td><%= (ytd_allocation(project, 1, @fy).to_d/current_week()).round(1) %></td>
		<% if current_user.admin %>
			<td><%= if !project.initiative.nil? then project.initiative.name end %></td>
			<td><%= if current_user.admin then if project.active then "Active" else "Closed" end end %></td>
			<td class="danger"><%= link_to 'Edit', edit_project_path(project) %></td>
		<% end %>
	  </tr>  
	<% end %>
	<% if current_user.admin %>
		<% @projects.where(:active => false).each do |p| %>
			<tr>
				<td class="link"><u><%= link_to p.name, p %></u></td>
				<td><%= p.upl_number %></td>
				<td><%= p.category %></td>
				<td><%= p.owner.name %></td>
				<td><%= p.description %></td>
				<td><%= current_allocation(p) %></td>
				<td><%= ytd_allocation(p) %></td>
				<td><%= p.initiative_id %></td>
				<td><%= if p.active then "Active" else "Closed" end %></td>
				<td class="danger"><%= if current_user.admin then link_to 'Edit', edit_project_path(p) end %></td>
			</tr>
		<% end %>
	<% end %>

	</table>
	</div>
</div>
<% end %>


