<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "projects"} %>
<% end %>


<% content_for :sidebar do %>
	<table class="table">
	<% if current_user.admin %>
		<tr>
			<td class="danger"><%= link_to 'Edit', edit_project_path(@project) %></td> 
	<% end %>
	<tr>
		<td class="danger"><%= link_to 'Back', projects_path %></td>
	</table>
<% end %> 

<% content_for :main1 do %>
	<p>
	  <b>Name:</b>
	  <%= @project.name %>
	</p>

	<p>
	  <b>UPL:</b>
	  <%= @project.upl_number %>
	</p>
	
	<p>
	  <b>Active:</b>
	  <%= @project.active %>
	</p>

	<p>
	  <b>Owner:</b>
	  <%= @project.owner.name %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @project.description %>
	</p>

	<p>
	  <b>Category:</b>
	  <%= @project.category %>
	</p>

	<p>
	  <b>Budgeted Fixed Resources:</b>
	  <%= @project.fixed_resource_budget %>
	</p>

	<h3>Assignment History</h3>

	<% if @project.assignments.where(["set_period_id <= ?", current_period()]).count == 0 %>
		<h4>No Assignments for this project</h4>
	
	<% else %>
	
		<table class="table">
			<tr>
				<h5>
				<th>User</th>
				<th>Fiscal year</th>
				<th>Week of</th>
				<th>Effort</th>
				<th>Type</th>
				</h5>
			</tr>
			<% @project.assignments.order("set_period_id DESC").each do |assignment| %>
				<tr>
					<td><%= assignment.user.name %></td>
					<td><%= assignment.set_period_id.floor %></td>
					<td><%= period_to_date(assignment.set_period_id) %></td>
					<td><%= assignment.effort %></td>
					<td><%= if !assignment.is_fixed then "Nitro" else "Fixed" end %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
<% end %>