<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Active:</b>
  <%= @project.active %>
</p>

<p>
  <b>Owner:</b>
  <%= @project.owner.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<br>
<h3>Assignment History</h3>
<table border="1" cellpadding="10">
  <tr>
  	<h5>
  	<th>User</th>
    <th>Fiscal year</th>
    <th>Week</th>
    <th>Effort</th>
    <th>Type</th>
    </h5>
  </tr>
<% @project.assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.user.name %></td>
    <td><%= assignment.set_period.fiscal_year %></td>
    <td><%= assignment.set_period.week_number %></td>
    <td><%= assignment.effort %></td>
    <td><%= if !assignment.is_fixed then "Nitro" else "Fixed" end %></td>
  </tr>
<% end %>
</table>
