<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "projects"} %>
<% end %>


<% content_for :sidebar do %>
	<table class="table">
	<% if current_user.admin %>
		<tr>
			<td class="danger"><%= link_to 'Edit', edit_project_path(@project) %></td> 
	<% end %>
	<tr>
		<% if current_user.isstatususer? %>
			<td class="danger"><%= link_to 'Back', projects_path(:scope => "active") %></td>
		<% else %>
			<td class="danger"><%= link_to 'Back', projects_path %></td>
		<% end %>
	</table>
<% end %> 

<% content_for :main1 do %>
<div class="row">
	<div class="col-md-12 col-centered">
	<div class="col-md-3">
		<p><b>Name: </b><%= @project.name %></p>
		<p><b>UPL: </b><%= @project.upl_number %></p>
		<p><b>Active:  </b><%= @project.active %></p>
		<p><b>Owner: </b><%= @project.owner.name %></p>
		<p><b>Description: </b><%= @project.description %></p>
		<p><b>Category: </b><%= @project.category %></p>
		<p><b>Stakeholder: </b><%= @project.psh %></p>
		<p><b>RTM: </b><%= @project.rtm %></p>
		<p><b>CT Priority: </b><%= if !@project.initiative.nil? then @project.initiative.name end %></p>	
		<p><b>Resource Plan: </b><%= @project.fixed_resource_budget %></p>
	</div>
	<div class="col-md-6">
		<%= image_tag(Gchart.bar(:title => "Effort History", 
		:labels => @clabels, :data => @cvalues, :chart_background => 'CCCCCC', :max_value => 25, 
		:min_value => 0, :stacked => false, :size => '400x225', :axis_with_labels => [['x'], ['y']],
		:bar_width_and_spacing => ['40','4'], :bar_colors => "3DB1FF,0061D7,FF148A,FF8A14", 
		:axis_range => [[nil], [25], [25], nil] ), class: "img-responsive")%>
	</div>
	<div class="col-md-3">
		<%= image_tag(Gchart.pie(:title => "Per-System Effort", 
		:data => @svalues, :chart_background => 'CCCCCC', :size => '300x300',
		:legend => @slabels, :legend_position => 'bottom', :slice_colors => "3DB1FF,0061D7,FF148A,FF8A14"), 
		class: "img-responsive")%>
	</div>
	</div>
</div>	
<div class="row">
	<div class="col-md-12 col-centered">	
		<h3>Assignment History</h3>

		<% if @project.assignments.where(["set_period_id <= ?", current_period()]).count == 0 %>
			<h4>No Assignments for this project</h4>
	
		<% else %>
	
			<table class="table">
				<tr>
					<h5>
					<th>User</th>
					<th>Fiscal year</th>
					<th>Week of</th>
					<th>System</th>
					<th>Effort</th>
					<th>Type</th>
					</h5>
				</tr>
				<% @ahistory.order("set_period_id desc").each do |assignment| %>
					<tr>
						<td><%= assignment.user.name %></td>
						<td><%= assignment.set_period_id.floor %></td>
						<td><%= period_to_date(assignment.set_period_id) %></td>
						<td><%= if !assignment.tech_system.nil? then assignment.tech_system.name else "ERROR" end %></td>
						<td><%= assignment.effort %></td>
						<td><%= if !assignment.is_fixed then "Nitro" else "Fixed" end %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>
<% end %>