<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Active:</b>
  <%= @project.active %>
</p>

<p>
  <b>Owner:</b>
  <%= @project.owner.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Category:</b>
  <%= @project.category %>
</p>

<p>
  <b>Budgeted Fixed Resources:</b>
  <%= @project.fixed_resource_budget %>
</p>
<br>
<% if current_user.admin %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
</br>

<h3>Assignment History</h3>
<% if @project.assignments.where(["set_period_id <= ?", current_period()]).count == 0 %>
	<br>
	<h4>No Assignments for this project<h4>
	</br>
<% else %>
<%= image_tag(Gchart.bar(:title => 'Effort History Past 12 Weeks', 
	:labels => @clabels, :data => @cvalues, :size => '500x300', :chart_background => 'CCCCCC',
	:bar_width_and_spacing => {:spacing => 15, :group_spacing => 20}, :max_value => @cvalues.max + 5,
	:bar_colors => '76A4FB'), :style => "margin:0 auto; border:1px solid blue; float:right;") %>
<table border="1" cellpadding="10">
  <tr>
  	<h5>
  	<th>User</th>
    <th>Fiscal year</th>
    <th>Week of</th>
    <th>Effort</th>
    <th>Type</th>
    </h5>
  </tr>
<% @project.assignments.order("set_period_id DESC").each do |assignment| %>
  <tr>
    <td><%= assignment.user.name %></td>
    <td><%= assignment.set_period.fiscal_year %></td>
    <td><%= period_to_date(assignment.set_period) %></td>
    <td><%= assignment.effort %></td>
    <td><%= if !assignment.is_fixed then "Nitro" else "Fixed" end %></td>
  </tr>
<% end %>


</table>
<% end %>