<nav class="navbar navbar-default" role="navigation">
	

<ul class="nav nav-pills" role="tablist">
 <% if user_signed_in? %>
	<% if current_user.verified? %>
    	<% if current_user.admin? | current_user.ismanager? %>
			<% if active == "team" %>
				<li class="active" >
			<% else %>
				<li>
			<% end %>
			<%= link_to('Team', root_path) %>
			</li>
		<% end %>
    	<% if active == "projects" %>
    		<li class="active" >
    	<% else %>
    		<li>
    	<% end %>
      	<% if current_user.isstatususer? %> 
      		<%= link_to(display_name_for('sys_names', 'project').pluralize(), projects_path(:scope => "active")) %>
      	<% else %>
      		<%= link_to(display_name_for('sys_names', 'project').pluralize(), projects_path) %>
      	<% end %>
      	</li>
      	<% if active == "systems" %>
    		<li class="active" >
    	<% else %>
    		<li>
    	<% end %>
      	<%= link_to(display_name_for('sys_names', 'service').pluralize(), tech_systems_path) %>
      	</li>
      	<% if current_user.admin? || current_user.isstatususer? %>
      		<% if active == "initiatives" %>
    			<li class="active" >
    		<% else %>
    			<li>
    		<% end %>
      		<%= link_to(display_name_for('sys_names', 'initiative').pluralize(), initiatives_path) %>
    		</li>
    	<% end %>
    	<% if current_user.admin? %>
      		<% if active == "assignments" %>
    			<li class="active" >
    		<% else %>
    			<li>
    		<% end %>
      		<%= link_to('Assignments', assignments_path) %>
    		</li>
    	<% end %>
    	<% if current_user.admin? | current_user.ismanager? %>
    		<% if active == "users" %>
    			<li class="active" >
    		<% else %>
    			<li>
    		<% end %>
      		<%= link_to('Users', users_path) %>
      		</li>
      	<% end %>
      	<% if current_user.admin? %>
      		<% if active == "settings" %>
    			<li class="active" >
    		<% else %>
    			<li>
    		<% end %>
      		<%= link_to('Settings', settings_path) %>
    		</li>
    		<% if active == "accounts" %>
    			<li class="active" >
    		<% else %>
    			<li>
    		<% end %>
      		<%= link_to('Accounts', accounts_path) %>
    		</li>
    	<% end %>
		<li>
		<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
		</li>
    <% else %>
	  <li>
		  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
	  </li>  
	<% end %>
 <% else %>
		<% if active == "admin" %>
				<li class="active" >
		<% else %>
				<li>
		<% end %>
		<%= link_to('Admin', new_user_registration_path)  %>
		</li>
		<% if active == "login" %>
    		<li class="active">
    	<% else %>
    		<li>
    	<% end %>
    		<%= link_to('Login', new_user_session_path)  %>  
    	</li>
  <% end %>
</ul>
</nav>
<br/>
