<%= link_to "My Team", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
	<% if current_user.verified? %>
    	<li>
      		<%= link_to('Assignments', assignments_path) %>
    	</li>
    	<% if current_user.admin? %>
      		<li>
      			<%= link_to('Users', users_path) %>
      		</li>
      		<li>
      			<%= link_to('Projects', projects_path) %>
      		</li>
    	<% end %>
    <% end %>  
  <% else %>
    <li>
      <%= link_to('Admin', new_user_registration_path)  %>
   	</li>
  <% end %>
</ul>