<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BPS Team Track" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= yield :nav %>
    <div id="main-content-area" class="container-fluid">
           <div class="row">
           		<% if content_for?(:sidebar) %>
					<div id="sidebar" class="col-md-1"> 
						<h3>Actions</h3>
						<%= yield :sidebar %>
					</div>
				<% else %>
					<% if content_for?(:sidebarwide) %>
						<div id="sidebarwide" class="col-md-2"> 
							<h3>Actions</h3>
							<%= yield :sidebarwide %>
						</div>
					<% end %>
				<% end %>
            	<% if content_for?(:sidebarwide) %>
            		<div id="content" class="col-md-10">
            	<% else %>
            		<div id="content" class="col-md-11">
            	<% end %>
            		<div id="alert-area" class="col-md-12">
            			<% flash.each do |name, msg| -%>
            			<%= content_tag :div, msg, class: "alert alert-#{name}" %>
          				<% end -%>
            		</div>
            		<br/>
            		<%= yield :main1 %>
            	</div>
          	</div> <!-- end of row -->
      </div> <!--! end of .container -->
  </body>
</html>
